.mobile-navigation {
    display: none;
    position: absolute;
    top: 36px;
    left: 13px;
}

.mobile-navigation__burger {
    width: 33px;
    height: 18px;
    cursor: pointer;
    flex-shrink: 0;
}

.mobile-navigation__toggler {
    display: none;
}

.mobile-navigation__nav {
    position: fixed;
    inset: 0;
    padding: 30px 20px 10px;
    background-color: var(--co-white);
    translate: -100% 0;
    transition: translate .33s;
}

.mobile-navigation__toggler:checked ~ .mobile-navigation__nav{
    translate: 0 0;
}

.mobile-navigation__nav-list {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 30px;
}

.mobile-navigation__nav-item {
    color: var(--co-light-black);
}

.mobile-navigation__nav-link {
    font-size: 25px;
}

.mobile-navigation__close {
    position: absolute;
    top: 40px;
    left: 30px;
}

.mobile-navigation__cross {
    width: 25px;
    height: 22px;
    cursor: pointer;
}

@media (max-width: 768px){
    .mobile-navigation {
        display: block;
    }
}